<html>
<head>
<title>Sistema de recomendacion de libros</title>
</head>
<body>
{% include 'header.html' %}
<section>
<h1>Usuarios y puntuacion del libro{{libro.isbn}}</h1> 
{% for puntuacion in libro.puntuacion_set.all %}
<ul>Usuario id: {{puntuacion.usuario.idUsuario}} - Rating: {{puntuacion.puntuacion}}</ul>
<ul>Edad: {{puntuacion.usuario.edad}}</ul>
<ul>Localizacion: {{puntuacion.usuario.localizacion}}</ul>
<br/>
{% empty %}
<h2>Los usuarios no han puntuado este libro </h2>
{% endfor %}
</section>
</body>
</html>